@media (min-width: 768px) {
	.header {
		min-height: 10vw;
		background-image: url('../img/bg-header-desktop.svg');
	}
	.container-lg {
		margin-top: 7.5rem;

		.popup {
			padding: 20px 40px;
		}

		.jobs {
			&__box {
				padding-inline: clamp(1.75rem, 3vw, 3.75rem);
			}
			&__header {
				margin-bottom: 0;
			}
			&__logo {
				position: static;
				width: auto;
				margin-right: 2rem;
			}

			&__company-name {
				font-size: clamp(1.45rem, 2vw, 1.75rem);
			}
			&__offered-job {
				font-size: clamp(1.75rem, 2vw, 2.15rem);
			}
			&__tags {
				padding-top: 0;
				border-top: none;
			}
			&__job-offer {
				font-size: clamp(1.35rem, 2vw, 1.85rem);
				gap: 0.5rem;
			}
		}
	}
}
@media (min-width: 992px) {
	.container-lg {
		.jobs {
			&__job-offer {
				gap: 1.5rem;
			}
		}
	}
}
